# Environment variables
.env
*.key
*.txt
kalshi_private.key

# Python cache files
__pycache__/
*.pyc

# Streamlit local state
.streamlit/

# Virtual environments
venv/
.env/
.venv/

# macOS junk files
.DS_Store